<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>HelloWorld Application</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>TimeServlet</servlet-name>
        <servlet-class>ch13.TimeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TimeServlet</servlet-name>
        <url-pattern>/time/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>ch13.LoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RequestMethodFilter</filter-name>
        <filter-class>ch13.RequestMethodFilter</filter-class>
    </filter>

    <!-- The order of servlet-mapping declaration estaablish the order of filters chain-->
    <filter-mapping>
        <filter-name>RequestMethodFilter</filter-name>
        <servlet-name>TimeServlet</servlet-name>
    </filter-mapping><filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <servlet-name>TimeServlet</servlet-name>
    </filter-mapping>


</web-app>